.login_table_div{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    border: 2px solid red;
    border-radius: 8px;
}

#login_table{
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#err_info_p{
    color: red;
    margin: auto;
}