body{
    background: url('register_background.jpg');
}

.register_table_div{
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10%;
    border: 2px solid grey;
    border-radius: 10px;
    overflow: auto;
}

#register_table{
    margin: auto;
    padding-top: 15px;
    padding-bottom: 10px;
}

#err_info_p{
    color: red;
    text-al: auto;
}

.button_area{
    margin-left: 30%;
    margin-bottom: 10px;
}

#reset_button{
    margin-left: 10px;
}

.link_area{
    margin-left: 100px;
    margin-bottom: 10px;
}

#go_to_login{
    margin-left: 10px;
}
